.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(31, 31, 31, 1), rgba(31, 31, 31, 0.4) 80%, rgba(31, 31, 31, 0) 100%); /* Enhanced gradient */
    padding: 20px;
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
    transition: background-color 0.3s ease-in-out; 
  }
  
  .logo {
    font-size: 24px;
    color: white;
    margin-left: 5%;
    text-decoration: none;
    font-weight: bold;
  }
  .logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .nav a {
    color: white; 
    text-decoration: none;
    margin: 0 30px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .nav a:hover {
    text-decoration: none; 
    font-weight: bold;
  }
  